.resource {
  display: block;
  max-width: 840px;
  margin: 0 auto;

  > h1 {
    margin-bottom: 50px;
    text-align: center;
  }

  > h2 {
    margin: 50px 0 25px 0;
  }

  > p {
    margin-bottom: 25px;

    > span.resource__point {
      display: block;
      margin: 5px 0 0 5px;

      &:before {
        content: '- ';
        font-weight: bold;
      }
    }

    > span.resource__point--no-dash {
      display: block;
      margin: 5px 0 0 5px;
    }
  }

  > table, th, td {
    border: 1px solid var(--color-text-primary);
    padding: 10px;
    margin-bottom: 25px;

    th {
      font-weight: bold;
    }
  }
}

@media (max-width: 840px) {
  .resource {
    padding: 0 25px;
  }
}
