.members {
  display: inline-block;

  h3 {
    font-size: 18px;
    color: var(--color-primary);
    margin-bottom: 25px;
  }

  &__count-ctr {
    > select {
      height: 40px;
      width: 100px;
      line-height: 40px;
      font-size: 16px;
      background: var(--color-background-primary);
      border: 1px solid var(--color-border-primary);
    }
  }

  &__details-block {
    margin: 50px auto 0 auto;
    max-width: 615px;
  }

  &__details-input-outer-ctr {
    margin: 0 auto;
    max-width: 615px;

    & div:last-of-type {
      margin-right: 0;
    }
  }

  &__details-input-ctr {
    display: inline-block;
    margin: 0 15px 15px 0;
    width: 300px;

    &.name {
      width: 195px;
    }

    &.company {
      width: 615px;
    }

    &.street {
      width: 400px;
    }

    &.suite {
      width: 200px;
    }

    &.zipcode {
      width: 200px;
    }

    &.country {
      width: 400px;
    }

    > label {
      display: block;
      font-size: 13px;
      font-weight: 300;
      text-align: left;
      margin-bottom: 4px;
    }

    > input {
      width: 100%;
    }
  }

  &__details-corporate-ctr {
    > input {
      margin-right: 5px;
    }

    font-weight: 300;
    font-size: 14px;
    margin-bottom: 25px;
  }

  &__use-company-address-btn-ctr {
    margin: 10px 0;

    > button {
      font-size: 11px;
      padding: 5px;
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
      border-radius: 3px;
    }
  }

  &__use-pro-address-ctr {
    margin: 10px 0;
    font-weight: 300;
    font-size: 14px;

    > input {
      margin-right: 5px;
    }
  }
}


  @media (max-width: 750px) {
    .members {

      &__details-block {
        max-width: 250px;
      }

      &__details-input-outer-ctr {
        margin: 0 auto;
        max-width: 250px;
      }

      &__details-input-ctr {
        margin-right: 0;
        width: 250px;

        &.name {
          width: 250px;
        }

        &.company {
          width: 250px;
        }

        &.street {
          width: 250px
        }

        &.suite {
          width: 250px;
        }

        &.zipcode {
          width: 250px;
        }

        &.country {
          width: 250px;
        }
      }
    }
  }
